@model Category

@{
    ViewBag.PageTitle = "Category Mangment";
    ViewBag.CardTitle = "Edit Category";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<br />
<form method="post">
    <script src="https://cdn.tiny.cloud/1/io2p6eud22pubjfxg4ohm4htnbifefaimf4utt2b2233rdcv/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>

    <input hidden asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description"></label>
        <textarea id="mytextarea" asp-for="Description" class="form-control"> </textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        tinymce.init({
          selector: '#mytextarea'
        });
    </script>
}