@model IEnumerable<Issue>

<h2>Issue Log</h2>

<a href="/Admin/Issues/Create" class="btn btn-success">Add New Issue</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
